nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(85, 0, 182);
    padding: 20px;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: rgb(221, 225, 225);
}