body{
    background: rgb(149, 5, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 400px;
    margin: 0 auto;
    
}

.container form, .container h2{
    background: rgb(12, 41, 169);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
}